/* Resets */
body,
p {
    margin: unset;
}

h2 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

button {
    all: unset;
    display: inline-block;
}

input {
    all: unset;
}

/* Typography */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* Root */
:root {
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
    font-size: 62.5%;

    --color-black: #111111;
    --color-gray-1: #f5f5f5;
    --color-gray-2: #e5e5e5;
    --color-gray-3: #cacacb;
    --color-gray-4: #9e9ea0;
    --color-gray-5: #707072;
    --color-white: #ffffff;
    --color-green-1: #007d48;
    --color-red-1: #b40000;
}

/* CSS */
.header {
    box-shadow: inset 0 0 20px red;
    height: 100px;
    position: relative;
    padding: 0 36px;
}

.logo {
    /* 수직 중앙 정렬하기 */
    position: absolute;
    top: 50%;
    margin-top: -10px;
    padding: 0 9px;
}

.contents {
    padding: 36px;
}

.title-headings {
    height: 66px;
}

/* div email */
.input-email-form {
    box-shadow: inset 0 0 20px yellowgreen;
}

.title-login {
    font-size: 28px;
}

.input-container {
    position: relative;
    box-shadow: inset 0 0 20px skyblue;
}

.user-login-input {
    padding: 16px 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color-black);
    border-radius: 8px;
    font-size: 16px;
    margin-top: 28px;
    margin-bottom: 20px;
}

.floating-label {
    position: absolute;
    top: 28px;
    left: 16px;
    transform: translateY(-50%);
    background-color: var(--color-white);
    color: var(--color-gray-4);
    opacity: 0%;
    pointer-events: none;
}

.user-login-input:active {
    border: 1px solid var(--color-black);
}

.input-field:focus + .floating-label,
.input-field:not(:placeholder-shown) + .floating-label {
    opacity: 100%;
    color: var(--color-black);
}

.description {
    font-size: 16px;
    color: var(--color-gray-5);
    line-height: 150%;
    margin-top: 26px;
    margin-bottom: 40px;
}

/* div password */
.input-pw-form {
    box-shadow: inset 0 0 20px greenyellow;
}

.user-email {
    font-size: 16px;
    color: #111111;
    position: relative;
    top: 10px;
}

.search-pw {
    font-size: 16px;
    color: #757575;
    line-height: 150%;
    margin-bottom: 90px;
}

.button-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-black {
    color: white;
    background-color: black;
    border: none;
    text-align: center;
    width: 90px;
    height: 52px;
    border-radius: 26px;
    font-size: 16px;
    font-weight: medium;
    flex-shrink: 0;
}

.button-white {
    color: black;
    background-color: white;
    box-shadow: 0 0 0 1px black inset;
    text-align: center;
    width: 90px;
    height: 52px;
    border-radius: 26px;
    font-size: 16px;
    font-weight: medium;
    flex-shrink: 0;
}

body {
    width: 360px;
    max-width: 360px;
    min-width: 360px;
    margin: 0 auto; /* 중앙 정렬 */
    overflow-x: hidden; /* 가로 스크롤 숨김 */
}
