/* css reset */
body,
h1,
h2 {
	margin: unset;
	padding: unset;
	--color-black-1: #111111;
	--color-gray-1: #9e9ea0;
	--color-gray-2: #707072;
	--color-gray-3: #e5e5e5;
	--color-gray-4: #cacacb;
	--color-green-1: #007d48;
}

img {
	width: 100%;
}

/* typography */
:root {
	font-family: 'noto Sans KR';
}

/* layer */

.l_wrapper {
	width: auto;
}

/* design */

.prodMain {
	width: auto;
	padding: 0 24px;
	box-shadow: inset 0 0 20px red;
}

/* Product name & prices */
.prodInfo {
	padding-top: 80px;
	box-shadow: inset 0 0 20px blue;
}

.prodName {
	font-size: 20px;
	line-height: 175%;
	color: var(--color-black-1);
	font-weight: 500;
}

.prodCategory {
	font-size: 16px;
	line-height: 175%;
	margin-bottom: 12px;
	color: var(--color-black-1);
	font-weight: 500;
}

.prodPrize {
	margin-bottom: 24px;
}

/* product images */
.prodImage {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
}

.imageSets {
	box-shadow: inset 0 0 20px orange;
	height: 125px;
	margin-top: 3px;
	display: flex;
	row-gap: 10px;
	margin-bottom: 42px;
}

/* size selection */

.sizeArea {
	box-shadow: inset 0 0 20px green;
	height: 196px;
	font-size: 16px;
	font-weight: 500;
	color: var(--color-black-1);
}

.sizeAreaText {
	margin-bottom: 8px;
	display: flex;
}

.sizeGuide {
	color: var(--color-gray-2);
	margin-left: auto;
}

.sizeSelection {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	text-align: center;
	gap: 7px;
	padding: 1px;
}

.size {
	border: 1px solid var(--color-gray-3);
	line-height: 300%;
	border-radius: 4px;
	font-weight: 400;
}

.size + .off {
	background-color: var(--color-gray-3);
	color: var(--color-gray-4);
}
